* {
    margin: 0;
    padding: 0;
    text-align: center;
}

body
{
    width: 100vw;
    height: 100vh;
    color: hsl(209, 10%, 100%);
}

header
{
    background-color: hsl(209, 50%, 30%);
    height: 80px;
}

nav
{
    background-color: hsl(209, 30%, 60%);
    height: 80px;
}

main
{
    background-color: hsl(209, 20%, 80%);
}

aside
{
    background-color: hsl(209, 80%, 50%);
    display:none;
}

footer
{
    background-color: hsl(209, 50%, 30%);
    height: 80px;
}

section
{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
}

@media (min-width:1000px) {
    section
    {
        flex-direction: row;
    }

    aside
    {
        display:block;
        width: 60%;
    }

    nav
    {
        width: 60%;
    }
}