body
{
    background-color: #3d9b7d;
}

p
{
    color: white;
}

#grooon
{
    background-color: rgba(0, 128, 0, 128);
}

#hslll
{
    background-color: hsl(0, 0%, 50%);
}

#blue
{
    background-color: rgb(0, 0, 128);
}

.first
{
    background-color: #ddd;
}

.second
{
    background-color: #bbb;
}
