.parent
{

}

img[alt~="img1"]
{
    z-index: -1;
    position: absolute;
}

img[alt~="img2"]
{
    z-index: -2;
    position: absolute;
    left: 16px;
    top:60px;
}

img[alt~="img3"]
{
    z-index: -3;
    position: absolute;
    left: 30px;
    top:115px;
}

img[alt~="img4"]
{
    z-index: -4;
    position: absolute;
    left: 63px;
    top:182px;
}

img[alt~="img5"]
{
    z-index: -5;
    position: absolute;
    left: 105px;
    top:250px;
}

h4
{
    background-color: hsl(39, 100%, 50%, 0.7);
    color: purple;
    position: absolute;
    top: 393px;
    left: 192px;
    font-size: 52px;
}

.slideshowdiv
{
    position: absolute;
    top: 75%;
    left: 50%;
}

.slideshowdiv img
{
    position: absolute;
}

.slideshowdiv img:hover
{
    display: none;
}